<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title><%= name %> </title>
</head>
<body>
    <h2><%= name %> </h2>
    <p><%= description %> </p>
    <div>Subscribers of <%= name %> are <%= subscribers %> !</div>
    <br>
    <article>
        <% for( let p of posts ) { %>
            <div><%= p.title %> by <%= p.author %> </div>
            <hr>
            <% if (p.img) { %>
                <img src="<%= p.img %> " alt="">
            <% } %>
        <% } %>
    </article>
</body>
</html>